<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_background.model.dao.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_background.model.dao.entity.Banner">
    <result column="banner_id" jdbcType="BIGINT" property="bannerId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="valid_status" jdbcType="BIT" property="validStatus" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="u_time" jdbcType="TIMESTAMP" property="uTime" />
  </resultMap>

  <select id="selectAllValidBanners" resultMap="BaseResultMap" resultType="java.util.List">
    SELECT * FROM banner WHERE valid_status=1
  </select>

  <insert id="insertNewBanner" parameterType="cn.edu.seu.alumni_background.model.dao.entity.Banner">
    INSERT INTO banner (
        banner_id,
        img,
        link,
        valid_status,
        c_time,
        u_time
    ) VALUES (
        #{bannerId, jdbcType=BIGINT},
        #{img, jdbcType=VARCHAR},
        #{link, jdbcType=VARCHAR},
        1,
        CURRENT_TIME(),
        CURRENT_TIME()
    )
  </insert>

  <update id="update" parameterType="cn.edu.seu.alumni_background.model.dao.entity.Banner">
    UPDATE banner
    SET img=#{img, jdbcType=VARCHAR},
        link=#{link, jdbcType=VARCHAR},
        u_time=CURRENT_TIME()
    WHERE banner_id=#{bannerId, jdbcType=BIGINT}
  </update>

  <select id="getValidBanner" parameterType="java.lang.Long" resultMap="BaseResultMap" resultType="cn.edu.seu.alumni_background.model.dao.entity.Banner">
    SELECT * FROM banner WHERE banner_id=#{bannerId, jdbcType=BIGINT} AND valid_status=1
  </select>

  <update id="deleteById" parameterType="java.lang.Long">
    UPDATE banner
    SET valid_status=0, u_time=CURRENT_TIME()
    WHERE banner_id=#{bannerId, jdbcType=BIGINT}
  </update>
</mapper>